# Remove STM32CubeMX-generated code from Git's language statistics. 
**/Core/Src/** linguist-vendored
**/Core/Startup/** linguist-vendored
**/Core/Inc/** linguist-vendored
**/Drivers/** linguist-vendored
**/.settings/** linguist-vendored
**/Middlewares/** linguist-vendored
**/USB_DEVICE/** linguist-vendored

# Re-include main application code as part of language statistics.  
**/Core/Src/main.c linguist-vendored=false 
**/Core/Inc/main.h linguist-vendored=false