# Remove STM32CubeMX-generated code from Git's language statistics. 
**/Core/Src/stm32*_hal_msp.c linguist-generated=true  
**/Core/Src/stm32*_it.c linguist-generated=true 
**/Core/Src/syscalls.c linguist-generated=true  
**/Core/Src/sysmem.c linguist-generated=true  
**/Core/Src/system_stm32*.c linguist-generated=true  
**/Core/Startup/** linguist-vendored
**/Core/Inc/** linguist-vendored
**/Drivers/** linguist-vendored
**/.settings/** linguist-vendored
**/Middlewares/** linguist-vendored
**/USB_DEVICE/** linguist-vendored

# DO files are essentially Tcl scripts.
*.do linguist-language=Tcl 
